@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* ## COLORS ## */
:root {
    /*## Colors*/

    /*### Primary*/

    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    /*### Neutral*/

    --Grey500: hsl(234, 12%, 34%);
    --Grey400: hsl(212, 6%, 44%);
    --White: hsl(0, 0%, 100%);
}

body {
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: 100vh;
    width: 100%;
}

/* ## HEADER ## */

header {
    text-align: center;
}

header .header-before {
    font-weight: 200;
}

header .header-after {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

/* ## MAIN ## */

main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 1110px;
    width: 100%;
}

.card {
    border-radius: 5px;
    box-shadow: 0px 5px 10px lightgrey;
    padding: 2rem;
}

.card .image {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.card h3 {
    color: var(--Grey500);
    margin-bottom: 0.5rem;
}

.card p {
    color: var(--Grey400);
    font-size: 0.8rem;
}

.card:last-child {
    margin-bottom: 1.5rem;
}

.supervisor {
    border-top: 5px solid var(--Cyan);
}

.team-builder {
    border-top: 5px solid var(--Red);
}

.karma {
    border-top: 5px solid var(--Orange);
}

.calculator {
    border-top: 5px solid var(--Blue);
}

/* ## FOOTER ## */
footer {
    text-align: center;
    padding: 1rem;
}

footer :is(a, a:visited) {
    color: var(--Blue);
    text-decoration: none;
}

footer :is(a:hover, a:active) {
    color: hsl(212, 86%, 59%);
}

@media (min-width: 768px) {
    header h2, .header-before {
        font-size: 2rem;
    }
    
    header .header-after {
        max-width: 576px;
    }

    header {
        text-align: center;
        max-width: 540px;
        margin-bottom: 3rem;
    }

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2rem;
        align-items: center;
    }

    .supervisor {
        grid-column: 1;
        grid-row: 1 / 3;
    }

    .team-builder {
        grid-column: 2;
        grid-row: 1 / 2;
    }

    .karma {
        grid-column: 2;
        grid-row: 2 / 3;
    }

    .calculator {
        grid-column: 3;
        grid-row: 1 / 3;
        margin-bottom: 0;
    }

}